{% load static %}

<!--_footer.html-->
<footer class="bg-primary text-light" style="background-color: #20540a !important">
  <div class="container navbar-dark pt-3">
    <div class="row">
      <div class="col">
        <p class="text-left">by @aaascfurb</p>
      </div>
      <div class="col">
        <p class="text-right">Made By Pablo Mafessoli</p>
      </div>
    </div>
  </div>
</footer>
<!--/_footer.html-->

<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
